DTD/Feedbackdatenbank.dtd

<!ELEMENT feedbackdatenbank (feedback*, entwickler_parser)>
<!ELEMENT feedback (besucher,bewertung,info)>
<!ELEMENT besucher (alter,kontakt)>
<!ATTLIST besucher
        anrede (Herr|Frau|Doktor|Professor) #IMPLIED
        vorname CDATA #REQUIRED
        nachname CDATA #REQUIRED
        >
<!ELEMENT kontakt (emailadresse?,telefonnummer?,website?)>
<!ATTLIST kontakt
        rueckfrage_erlaubt (ja|nein) #IMPLIED
        >
<!ELEMENT alter (#PCDATA)>
<!ELEMENT emailadresse (#PCDATA)>
<!ELEMENT telefonnummer (#PCDATA)>
<!ELEMENT website (#PCDATA)>
<!ELEMENT bewertung (vorschlag?)>
<!ATTLIST bewertung
        erneuter_besuch (ja|nein) "ja"
        note_inhalt (sehr_gut|gut|befriedigend|ausreichend|mangelhaft|ungenuegend) #IMPLIED
        note_aussehen (1|2|3|4|5|6) #IMPLIED
        >
<!ELEMENT vorschlag (#PCDATA)>
<!ELEMENT info (email-gesendet?,datum,uhrzeit)>
<!ELEMENT email-gesendet (#PCDATA)>
<!ELEMENT datum (#PCDATA)>
<!ELEMENT uhrzeit (#PCDATA)>
<!ELEMENT entwickler_parser (#PCDATA)>

